/* .maindiv{
    background-color: #f1f1f1;
} */
/* .subdiv {
    border-radius: 1px;
    border-color: #C77DFF;
    border-width: 1px;
    height: 36rem;
  } */
/* .butt{
    background-color: #C77DFF;
} */
